.notice {
  position: absolute;  // 絶対位置指定
  // top: 80%;           // 上から50%の位置に設定
  bottom: 0;
  left: 50%;          // 左から50%の位置に設定
  transform: translate(-50%, -50%); // 位置のオフセットを調整して完全に中央に
  text-align: right;  // テキストを水平方向に中央寄せ
  color: red;
  white-space: nowrap;
}

