.title {
  position: absolute;  // 絶対位置指定
  top: 50%;           // 上から50%の位置に設定
  left: 50%;          // 左から50%の位置に設定
  transform: translate(-50%, -50%); // 位置のオフセットを調整して完全に中央に

  text-align: center;  // テキストを水平方向に中央寄せ
  white-space: nowrap;

  .angle{
    font-size: 0.9rem;
  }

  .product-id{
    font-size: 1.2rem;
  }
}

