.containerStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  height: 100%; // 親要素の高さを埋める

  .buttonStyle {
    display: flex;    // 画像とテキストを垂直に中央揃え
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    font-size: 1rem;
    color: black;
    border-radius: 0.3rem;
  
    margin-bottom: 25%;
  };

  img {
    height: 4rem;
  }
};



