@import '../../variables';

// 全体のスタイル
.containerStyle {
  // ここに共通のスタイルを追加
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; // 親要素の高さを埋める
  width: 100%;

  .buttonStyle {
    display: flex; // 画像とテキストを垂直に中央揃え
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 1rem;
    margin-bottom: 25%;

    color: black;
  }

  ;

  img {
    width: 40%;
    height: auto;
  }
}


// スマホのスタイル
@media (max-width: $breakpoint-mobile) {
  .containerStyle {

    // スマホ共通のスタイル
    img {
      width: 80%;
      height: auto;
    }
  }
}